@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h2> KLEEMANN Coding Academy</h2>
        <img src="~/images/kleemann.jpg" asp-append-version="true" height="500PX" width="500PX">
    </div>
